Py City School Analysis

In [51]:
#importing modules
import pandas as pd           
from pathlib import Path

In [80]:
#creating a filepath to the raw data from this file. 
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

In [81]:

school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [82]:
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [83]:
#calculate and display the total of unique schools. return "school_count" to see the list of them. 
school_count= len(school_data_complete.value_counts("school_name"))
school_count

15

In [84]:
#calulate and display the number of student by counting the unique Student Ids.
student_count = len(student_data.value_counts("Student ID"))
student_count

39170

In [85]:
#calculate the total budget by summing all the districts budgets
total_budget = school_data['budget'].sum()
total_budget

24649428

In [86]:
#calculate the average math score by using a mean function on the 'math score column'
average_math_score = student_data['math_score'].mean()
average_math_score

78.98537145774827

In [87]:
#calculate the average reading score doing the same thing as in math column.
average_reading_score =student_data['reading_score'].mean()
average_reading_score

81.87784018381414

In [89]:
#calculate the percentage of people who passed math. I can not figure out why this doesnt work. 
#i went up and checked what student counts really was and realized len made more sense than float.
#had to change it back to float because the formatting later didnt work unless the variable itself was numeric.
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [90]:
#calculate the percentage of students that passed reading. same way as above just change every "math" in the variable names to "reading"
passing_reading_count=school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [91]:
#used the formula given in the example to calulate the percentage of student who passed both math and reading.
#i am starting to wonder if I did this in a way it wasnt intended to be done, or if changing float to len was the test. so far it hasnt caused any issues getting the desired results.
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [92]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({"Total Schools":[school_count], 
                                "Total Students":[student_count], 
                                "Total Budget":[total_budget], 
                                "Average Math Score":[average_math_score],
                                "Average Reading Score":[average_reading_score],
                                "% Passing Math": [passing_math_percentage],
                                "% Passing Reeading":[passing_reading_percentage], 
                                "% Overall Passing":[overall_passing_rate]
})


district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)




# Display the DataFrame
district_summary

#up until now I had not saved my student count as a numeric value so the formatting was giving me trouble. It will look correct by the time you see it, but I had to go back and change it
#so that len was applied as I collected the variable. Rather than calling len of the variable. Had a feeling it would give me trouble in the end.

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reeading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326